<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Password Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo">
        </div>

        <div class="name">WP ENGINE</div>

        <a href="{{ url_for('index') }}" class="home"><i class='fa fa-home' id="home"></i></a>
    </div> 

    <h1 class="title">Password Checker</h1>
    <form action="{{ url_for('password_checker') }}" method="post">
        <div class="formContainer">
            <div class="input"><input type="text" id="password" name="password" placeholder="Please enter your password..." required></div>
            <div class="button"><button type="submit" class="checkButton">Check</button></div>
        </div>
    </form>
    {% if feedback %}
        <div class="password-feedback">
            <h2>Password Feedback:</h2>
            <p>{{ feedback }}</p>
            {% if suggested_password %}
                <p>Suggested Password: {{ suggested_password }}</p>
            {% endif %}
        </div>
    {% endif %}
</body>
</html>